#root {
  max-width: 1280px;

  padding: 2rem;
  text-align: center;
}
body{
  background-image: url(https://img.zonared.com/images/noticias/portada/67000/67356-s2.jpg) ;
  
}
.holamundo{
  background-color: rgba(255, 255, 255, 0.363);
  padding: 10px;
  border: 10px solid;
  border-color: rgba(0, 0, 0, 0.671);
}

p{
  font-weight: bolder;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin: 10px;
  background-image: -moz-linear-gradient(red,blue);
}

.read-the-docs {
  color: #888;
}
.btn{
  width: 100px;
  height: 50px;
  background-color: gold;
}

.contador-container{
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
}
